<!DOCTYPE html>
<html>
<head>
  <title>Musicapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
  <%= error %>
  <% end  %>
<% end %>

<% if current_user %>
<%= button_to "Logout, #{current_user.email}", session_url, method: :delete %>
<%= link_to "Back to All Bands", bands_url %>
<% end %>
<br>
<br>

<%= yield %>

</body>
</html>
