<h2><%= @band.name %></h2>
<h3>Albums:</h3>
<% @band.albums.each do |album| %>
<%= link_to "#{album.band.name} \##{album.id}", album_url(album) %>
<br>
<% end %>
<h3>Links</h3>
<%= link_to "Create Album", new_band_album_url(@band) %>
<br>
<%= link_to "Edit Band", edit_band_url(@band) %>
<br>
<%= link_to "Delete Band", band_url(@band), method: :delete %>
<br>
<%= link_to "All Bands", bands_url %>
